-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
-Dorg.slf4j.simpleLogger.log.org.apache.maven.plugins.shade=warn
-Dorg.slf4j.simpleLogger.log.org.owasp=warn
-Dorg.slf4j.simpleLogger.log.com.atlassian.maven.plugin.clover=warn
-Dorg.slf4j.simpleLogger.log.com.tngtech.archunit.core.importer=warn
-Dorg.slf4j.simpleLogger.log.cd.connect.maven=warn
-Dorg.slf4j.simpleLogger.log.org.sonarsource.scanner.maven=warn
-Dorg.slf4j.simpleLogger.showDateTime=true
-Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss.SSS
